@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}

a, li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    color: black;
    text-decoration: none;
}

/* Navigation */

.nav_links {
    margin: 1.25em 0;
}

.nav_links a {
    cursor: pointer;
    padding: 0.35em;
}

.active {
  color: rgba(0, 0, 0, 0.377);
}

.active:hover {
    color: white !important;
}

header {
    height: 10%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 13%;
    flex-flow: row nowrap;
    background-color: transparent;
    z-index: 999;
}

#root {
    position: relative;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 990;
    overflow-y: hidden;
}

#modal {
    position: absolute;
    top: 0vh;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 999;
    background-color: #ffffff9a;
}

#warning {
    position: absolute;
    top: 10vh;
    left: 33vw;
    padding: 2em;
    height: 20em;
    width: 33vw;
    display: none;
    flex-flow: column nowrap;
    z-index: 999;
    background-color: #ffffff;
    border: 1px solid grey;
}

.container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 90%;
}

.action_confirmation {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: left;
    width: 35em;
    height: auto;
}


#projects_view {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.project_view {
    position: relative;
    height: 40%;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
}

.project_view_details {
    position: relative;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    align-self: flex-end;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5em;
}

.project_view:hover{
    background-color: #64ce4462;
    cursor: pointer;
}

.project_title {
    width: 75%;
    margin-bottom: 10px;
    font-size: 1.6em;
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid black;
}

.project_description {
    width: 75%;
    font-size: 1em;
    font-style: italic;
    color: rgba(0, 0, 0, 0.801);
    margin-bottom: 8%;
}

.project_details {
    display: flex;
    flex-flow: column nowrap;
    align-self: flex-end;
    font-size: 1em;
    align-items: flex-end;
}

.project_tasks {
    width: 10vw;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-self: flex-start;
    font-size: 0.9em;
    align-items: flex-start;
    margin-left: 5%;
}

.project_tasks h3 {
    border-bottom: 1px solid black;
}

.project_tasks ul {
    list-style: disc;
}

.project_tasks ul li {
    cursor: pointer;
}

.project_tasks ul li:hover {
    color: rgb(0, 54, 3);
}

.project_framework {
    font-style: normal;
    color: rgba(109, 47, 47, 1);
}

.project_state {
    font-style: normal;
    color: rgb(4, 78, 8);
}

.project_reference {
    font-style: italic;
    color: rgba(5, 34, 161, 0.801);
}

.project_start_date {
    font-style: italic;
    color: rgba(0, 0, 0, 0.801);
}

.project_id {
    align-self: flex-end;
    font-size: 0.9em;
    font-style: normal;
    color: rgba(3, 49, 5, 1);
}

.project_links {
    cursor: pointer;    
}

.project_links:hover {
    color: rgba(15, 90, 0, 0.884);
}

#tasks_view {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.task_view {
    position: relative;
    height: 40%;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
}

.task_view_details {
    position: relative;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    align-self: flex-end;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5em;
}

.task_view:hover{
    background-color: #64ce4462;
    cursor: pointer;
}

.task_title {
    width: 75%;
    margin-bottom: 10px;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid black;
}

.task_description {
    width: 75%;
    font-size: 0.9em;
    font-style: italic;
    color: rgba(0, 0, 0, 0.801);
    margin-bottom: 8%;
}

.task_requirements {
    align-self: flex-start;
    font-size: 1.2em;
    font-style: normal;
    color: rgba(109, 47, 47, 1);
}

.task_status {
    align-self: flex-start;
    font-size: 1.2em;
    font-style: italic;
    color: rgba(11, 61, 6, 0.801);
}

.task_project_id {
    align-self: flex-end;
    width: auto;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 1);
}

.task_project_title {
    align-self: flex-end;
    width: auto;
    font-size: 1.4em;
    color: rgb(11, 29, 105);
}

.task_project_description {
    align-self: flex-end;
    width: auto;
    font-size: 1em;
    font-style: italic;
    color: rgba(0, 0, 0, 0.801);
}

.task_project_state {
    align-self: flex-end;
    font-size: 1em;
    font-style: normal;
    color: rgba(3, 49, 5, 1);
}


.watermark_id {
    position: absolute;
    top: 0em;
    right: 0.33em;
    width: auto;
    height: auto;
    font-size: 7em;
    color: #0000003d;
}

.watermark_project {
    position: absolute;
    bottom: 0.2em;
    right: 0.33em;
    width: auto;
    height: auto;
    font-size: 2.5em;
    color: #0a147050;
}


.page_header {
    position: relative;
    top: 15%;
    left: 20%;
    display: flex;
    flex-flow: column nowrap;
    background-color: transparent;
}

.page_actions {
    position: relative;
    width: 100%;
    height: 4em;
    border-bottom: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: transparent;
    padding-bottom: 1em;
    margin-bottom: 1em;
}


.content_wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    width: 80%;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.514);
    margin: 10px 0;
}



#projects {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255, 255, 255, 0); 
    background-color: rgba(255, 255, 255, 0.452); 
}
/* Modal Header */
.modal-header {
    width: 90%;
    padding: 2px 16px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px #00000049;
    height: 15%;
    align-self: flex-end;
    background-color: white;
  }
  
  /* Modal Body */
  .modal-body {    
    width: 60%;
    height: auto;  
    padding: 2px 16px;
    position: relative;
    align-self: flex-end;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    background-color: white;
}
  
  /* Modal Footer */
  .modal-footer {
    width: 60%;
    font-size: 0.75em;
    padding: 2px 16px;
    color: rgb(0, 0, 0);
    height: auto;
    align-self: flex-end;
    margin: 5px 10%;
    text-shadow: 1px 1px 2px #00000049;
    background-color: white;
  }
  
  /* Modal Content */
  .modal-content {
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 60%;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
  }
  
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#footer {
    height: auto;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #798e8e;
}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif;
}